.header {
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(#d1d1d1e8, #ffffffeb);
}
.row {
  padding: 15px 0;
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menuLinks {
  white-space: nowrap;
  color: #828282;
  text-decoration: none;
  font-family: "Gilroy-Bold";
  line-height: 22.28px;
}
.menuLinks:hover {
  color: #070707;
}
.menuLinksActive {
  color: #070707;
}
.hr {
  margin: 0;
}

@media (max-width: 600px) {
  .navigation {

    justify-content: normal;
    flex-direction: column;
  }
/* .closedBurger{
display: block;
} */
}
